package components

templ ModeButtons() {
	<div class="mode_btn__container" role="button">
		<div
			class="mode_btn__btn"
			data-mode="touchpad"
		>
			<img src="/static/icons/touchpad.svg" style="pointer-events: none;"/>
		</div>
		<div
			class="mode_btn__btn"
			data-mode="keyboard"
		>
			<img src="/static/icons/keyboard.svg" style="pointer-events: none;"/>
		</div>
	</div>
}
