package components

templ TouchPad() {
	<div class="touchpad mb-2"></div>
	<div class="touchpad_buttons mb-4">
		<div class="touchpad_buttons__btn" id="touchpad-btn-0"></div>
		<div class="touchpad_buttons__btn" id="touchpad-btn-1"></div>
	</div>
}
